---
/**
 * PLANTILLA CLÁSICA
 * Página completa con todas las secciones para la plantilla clásica.
 */
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';

import HeroClasica from '../components/clasica/HeroClasica.astro';
import ServiciosClasica from '../components/clasica/ServiciosClasica.astro';
import SobreMiClasica from '../components/clasica/SobreMiClasica.astro';
import TestimoniosClasica from '../components/clasica/TestimoniosClasica.astro';
import ContactoClasica from '../components/clasica/ContactoClasica.astro';
---

<BaseLayout>
  <Header />
  <main>
    <HeroClasica />
    <ServiciosClasica />
    <SobreMiClasica />
    <TestimoniosClasica />
    <ContactoClasica />
  </main>
  <Footer />
  <WhatsAppFloat />
</BaseLayout>
